Repository zxcalc/quizx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features -p quizx
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

ruff format:
  name: ruff format
  description: Format python code with `ruff format`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff lint:
  name: ruff lint
  description: Lint python code with `ruff lint`.
  entry: uv run ruff check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  description: Run mypy type checker.
  entry: uv run mypy pybindings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

Fix required maturin version
  pyproject.toml
  uv.lock
Due: none

chore: Use `uv` to manage the python package (#72)
  .github/workflows/ci.yml
  .github/workflows/wheels.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  CONTRIBUTING.md
  justfile
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

fix: sdist build config
  README.md
  pybindings/README.md
  pyproject.toml
  quizx/Cargo.toml
Due: none

fix: sdist build config (#73)
  README.md
  pybindings/README.md
  pyproject.toml
  quizx/Cargo.toml
Due: none

Allow for equality of Float and Exact scalars
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Refactor phase calculation for Scalar to return exact phases for pi/4 multiples in the Clifford+T case
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix bug in JsonScalar::from_scalar where power2 was wrongly assigned to power_sqrt2
  quizx/src/json/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace floatfactor==1.0 by Default for better serialization
  quizx/src/json/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Format
  quizx/src/json/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fix bug in JsonScalar::from_scalar (#74)
  quizx/src/json/scalar.rs
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix typo in comment
  quizx/src/json/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Expose decomp_parallel to pybindings
  pybindings/quizx/decompose.py
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

Fix bug where sqrt(2) was rounted to integer 1.
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bug: Fix issue in Scalar::phase (#75)
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update Python API
  pybindings/quizx/__init__.py
  pybindings/quizx/_quizx.pyi
  pybindings/quizx/circuit.py
  pybindings/quizx/decompose.py
  pybindings/quizx/graph.py
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

Add newline at EOF
  pybindings/quizx/__init__.py
Due: ruff format, ruff lint, mypy

feat: Small update to the Python API (#76)
  pybindings/quizx/__init__.py
  pybindings/quizx/_quizx.pyi
  pybindings/quizx/circuit.py
  pybindings/quizx/decompose.py
  pybindings/quizx/graph.py
  pybindings/src/lib.rs
  quizx/src/json/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

ci: Update wheel building CI
  .github/workflows/wheels.yml
  .gitignore
  .vscode/settings.json
Due: none

ci: Update wheel building CI (#78)
  .github/workflows/wheels.yml
  .gitignore
  .vscode/settings.json
Due: none

ci: Fix disabled pr-title check
  .github/workflows/pr-title.yml
Due: none

ci: Fix disabled pr-title check (#79)
  .github/workflows/pr-title.yml
Due: none

ci: Configure release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  pybindings/CHANGELOG.md
  pybindings/LICENSE
  pybindings/build.sh
  pybindings/install_package.bat
  pybindings/setup.py
  pybindings/setup2.py
  release-please-config.json
Due: ruff format, ruff lint, mypy

ci: Configure release-please (#80)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  pybindings/CHANGELOG.md
  pybindings/LICENSE
  pybindings/build.sh
  pybindings/install_package.bat
  pybindings/setup.py
  pybindings/setup2.py
  release-please-config.json
Due: ruff format, ruff lint, mypy

Overwrite first release changelog
  pybindings/CHANGELOG.md
Due: none

ci: Test minimum and maximum python versions
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

ci: Test minimum and maximum python versions (#82)
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

ci: Try to debug the release workflow
  .github/workflows/wheels.yml
Due: none

ci: Try to debug the release workflow (#83)
  .github/workflows/wheels.yml
Due: none

docs: Add pypi badges
  README.md
  pybindings/README.md
Due: none

docs: Add pypi badges to the readmes (#84)
  README.md
  pybindings/README.md
Due: none

Added QFT circuits
  circuits/small/qft_16.qasm
  circuits/small/qft_32.qasm
  circuits/small/qft_8.qasm
Due: none

Add and modify approximation functions
  quizx/src/approximate.rs
  quizx/src/lib.rs
  quizx/src/simplify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add example usage for new functions
  quizx/examples/reduce_two_qubit_count_qft.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove printing in basic_greedy
  quizx/src/approximate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Put printing under "quiet" condition
  quizx/src/approximate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bump pyzx from 0.8 to 0.9
  pyproject.toml
  uv.lock
Due: none

Make sure the CI checks run when pyproject.toml is changed
  .github/workflows/ci.yml
Due: none

chore: Fix new clippy lints
  pybindings/src/lib.rs
  quizx/src/extract.rs
  quizx/src/graph.rs
  quizx/src/linalg.rs
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new clippy lints (#96)
  pybindings/src/lib.rs
  quizx/src/extract.rs
  quizx/src/graph.rs
  quizx/src/linalg.rs
  quizx/src/scalar.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(deps): bump pyzx from 0.8 to 0.9 (#95)
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ruff format: any of: \.py$
  ruff lint: any of: \.py$
  mypy: any of: \.py$
  cargo-doc: any of: \.rs$
