Repository zxcalc/quizx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features -p quizx
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

ruff format:
  name: ruff format
  description: Format python code with `ruff format`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff lint:
  name: ruff lint
  description: Lint python code with `ruff lint`.
  entry: uv run ruff check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  description: Run mypy type checker.
  entry: uv run mypy pybindings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

Add pyzx bump to changelog
  pybindings/CHANGELOG.md
Due: none

ci(wheels): Update x86 macos builder to macos-13
  .github/workflows/wheels.yml
Due: none

ci(wheels): Update x86 macos builder to macos-13 (#98)
  .github/workflows/wheels.yml
Due: none

chore: Cleanup non-standard pyproject location
  .github/workflows/wheels.yml
  justfile
  pybindings/LICENSE
  pybindings/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Make `maturin develop` work from repo root, and enable `abi3`
  pybindings/Cargo.toml
  pyproject.toml
Due: none

chore: Cleanup non-standard pyproject location (#99)
  .github/workflows/wheels.yml
  justfile
  pybindings/Cargo.toml
  pybindings/LICENSE
  pybindings/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

ci: Fix wheel building path
  .github/workflows/wheels.yml
Due: none

ci: Fix wheel building path (#101)
  .github/workflows/wheels.yml
Due: none

ci: Fix pypi publication
  .github/workflows/wheels.yml
Due: none

implement add_edge
  pybindings/CHANGELOG.md
  pybindings/quizx/graph.py
  pybindings/test/test_add_edge.py
Due: ruff format, ruff lint, mypy

added pyd
  .gitignore
Due: none

fixed typos and removed some outdated info
  README.md
  pybindings/README.md
Due: none

added test for circuit extraction after full_reduce
  quizx/src/basic_rules.rs
  quizx/src/extract.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

started a demo notebook
  notebooks/getting_started.ipynb
Due: none

updated graph API and various tweaks
  notebooks/getting_started.ipynb
  pybindings/quizx/graph.py
  quizx/src/basic_rules.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

...
  notebooks/getting_started.ipynb
Due: none

ruff format
  notebooks/getting_started.ipynb
  pybindings/quizx/graph.py
Due: ruff format, ruff lint, mypy

ruff fix
  pybindings/quizx/graph.py
Due: ruff format, ruff lint, mypy

fix(python): Implement add_edge in VecGraph (#102)
  pybindings/CHANGELOG.md
  pybindings/test/test_add_edge.py
Due: ruff format, ruff lint, mypy

fix: make qubit and row into floats (closes #93)
  pybindings/src/lib.rs
  quizx/src/circuit.rs
  quizx/src/extract.rs
  quizx/src/gate.rs
  quizx/src/graph.rs
  quizx/src/hash_graph.rs
  quizx/src/json/graph.rs
  quizx/src/vec_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: pick qubit number for unfuse_gadget to match pyzx convention
  notebooks/getting_started.ipynb
  quizx/src/basic_rules.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: incorrect matching of cat states on ZX diagrams with boundary (fixes #64)
  quizx/src/decompose.rs
  quizx/src/graph.rs
  quizx/src/phase.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

perf: minor improvements to cat decomp
  quizx/src/decompose.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: satisfy autoformatter
  quizx/src/decompose.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

moved _quizx to quizx and removed extra python layer
  pybindings/pyproject.toml
  pybindings/quizx/__init__.py
  pybindings/quizx/_quizx.pyi
  pybindings/quizx/circuit.py
  pybindings/quizx/decompose.py
  pybindings/quizx/graph.py
  pybindings/quizx/py.typed
  pybindings/quizx/scalar.py
  pybindings/quizx/simplify.py
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

working on wrapper class for VecGraph
  pybindings/src/lib.rs
  pyproject.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

synced stub to latest pyzx BaseGraph signatures
  pybindings/quizx.pyi
Due: none

added stubs for all VecGraph methods
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

...
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

added methods for adding named vertices
  quizx/src/graph.rs
  quizx/src/hash_graph.rs
  quizx/src/vec_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

binding for named vertex
  pybindings/src/lib.rs
  quizx/src/graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bump pyo3 version
  Cargo.lock
  Cargo.toml
Due: none

methods using python iterables. shew
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more bindings
  pybindings/src/lib.rs
  quizx/src/graph.rs
  quizx/src/vec_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

...
  pybindings/quizx.pyi
  pybindings/src/lib.rs
  quizx/src/graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ops should be able to take BaseGraph as 'other'
  pybindings/quizx.pyi
  pybindings/src/lib.rs
  pybindings/test/test_add_edge.py
  pybindings/test/test_scalar.py
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, ruff format, ruff lint, mypy, cargo-doc

used python fractions in bindings
  notebooks/getting_started.ipynb
  pybindings/quizx.pyi
  pybindings/src/lib.rs
  quizx/src/graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

switch bindings to take Bound<PyAny> as args
  pybindings/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: inconistent use of Coord
  quizx/src/hash_graph.rs
  quizx/src/vec_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ruff format: any of: \.py$
  ruff lint: any of: \.py$
  mypy: any of: \.py$
  cargo-doc: any of: \.rs$
